<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLPyU64m4iwDVvc5cgX_x_FXiE3k4Awy0</string>
	<key>GCM_SENDER_ID</key>
	<string>356365705247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pet-project-ca87b</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-project-ca87b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356365705247:ios:c11406c3219b39ac1df52a</string>
</dict>
</plist>